<p>
  roles works!
</p>
<h1>Create Roles</h1>
<br>
<div>
  <form #createRoleForm="ngForm" (ngSubmit)="createRole(role, listPermission)">
    <div class="form-group">
      <label for="nameRole">Nombre</label>
      <input type="text" class="form-control" id="nameRole" name="nameRole" [(ngModel)]="role.name" required>
    </div>
    <div class="form-group">
      <label for="model">Permisos</label>
      <mat-checkbox *ngFor="let permission of listPermission" name="stateRole" [(ngModel)]="permission.checked">{{permission.name}} - {{ permission.model}}</mat-checkbox>
    </div>
    <button type="submit" class="btn btn-success">Create permisse</button>
  </form>
</div>