<div class="container">
  <h1>Create Permission</h1>
  <br>
  <div>
    <form #permissionForm="ngForm" (ngSubmit)="createPermission(permission)" class="u__form">
      <div class="form-group">
        <label for="namePermission">Nombre</label>
        <input type="text" class="form-control" id="namePermission" name="namePermission" [(ngModel)]="permission.name" required>
      </div>
      <div class="form-group">
        <label for="model">Modelo</label>
        <input type="text" class="form-control" id="model" name="model" [(ngModel)]="permission.model" required>
      </div>
      <button type="submit" class="btn btn-success">Create permisse</button>
    </form>
  </div>
</div>
