.base-container {
	margin: 0;
  width: 100%;
  min-height: 100vh;
	&-sidenav {
		padding: 20px;
		&-content {
			display: flex;
			height: 100%;
			align-items: center;
			justify-content: center;
		}
	}
}
