<mat-sidenav-container class="base-container">
  <mat-sidenav #sidenav class="base-sidenav">
    <!-- <button mat-mini-fab type="button" (click)="sidenav.close()">
        <i class="material-icons">view_list</i>
      </button> -->
    <mat-nav-list>
      <mat-list-item routerLink="/">Home</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/dashboard">Dashboard</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/admin">Admin</mat-list-item>
      <mat-divider></mat-divider>
      <mat-nav-list>
        <mat-list-item routerLink="/admin/permissions">Admin/permissions</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item routerLink="/admin/roles">Admin/roles</mat-list-item>
        <mat-divider></mat-divider>
      </mat-nav-list>
    </mat-nav-list>
  </mat-sidenav>

  <div class="base-sidenav-content">
    <mat-toolbar>
      <span class="title">Admin</span>
      <button mat-mini-fab type="button" (click)="sidenav.open()">
        <i class="material-icons">view_list</i>
      </button>
    </mat-toolbar>


    <div class="container">
      <br>
      <br>
      <mat-chip-list>
        <mat-chip routerLink="/admin/profiles">Usuarios</mat-chip>
        <mat-chip color="accent" routerLink="/admin/roles">Roles</mat-chip>
        <mat-chip color="primary"  routerLink="/admin/permissions">Permisos</mat-chip>
      </mat-chip-list>

      <!-- <admin-profiles></admin-profiles> -->

      <ng-template #noProfiles>
        <h5>Loading</h5>
      </ng-template>
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>

