/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
	margin: 0px;
	font-size: 16px;
}

.u {
	&__center {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__form {
		input, select, button {
			border-radius: 8px;
			padding: 8px;
			margin-bottom: 8px;
			outline: none;
		}
		button {
			margin: 15px 0;
		}
	}
}
.container {
  padding: 0 5%;
}